In [1]:
from main_functions import create_data, generate_synthetic_variables

In [2]:
data = create_data()

In [3]:
data.head()

,status,duration,credit_history,purpose,amount,savings,employment_duration,installment_rate,personal_status_sex,other_debtors,...,property,age,other_installment_plans,housing,number_credits,job,people_liable,telephone,foreign_worker,credit_risk
0,1,18,4,2,1049.0,1,2,4,2,1,...,2,21,3,1,1,3,2,1,2,1
1,1,9,4,0,2799.0,1,3,2,3,1,...,1,36,3,1,2,3,1,1,2,1
2,2,12,2,9,841.0,2,4,2,2,1,...,1,23,3,1,1,2,2,1,2,1
3,1,12,4,0,2122.0,1,3,3,3,1,...,1,39,3,1,2,2,1,1,1,1
4,1,12,4,0,2171.0,1,3,4,3,1,...,2,38,1,2,2,2,2,1,1,1

In [4]:
data.job[1]

'3'

In [5]:
rules = [
    # {
    #     'name': 'synthetic_var_1',
    #     'conditions': [
    #         {'col': 'col1', 'values': ['A', 'B']},  # Only OR needed
    #         {'col': 'col2', 'values': ['X']}  # Only OR needed
    #     ],
    #     'operator': 'AND'  # This is still valid for combining conditions
    # },
    # {
    #     'name': 'synthetic_var_2',
    #     'conditions': [
    #         {'col': 'col2', 'values': ['Y']},  # Only OR needed
    #         {'col': 'col3', 'values': ['Yes']}  # Only OR needed
    #     ],
    #     'operator': 'OR'  # This is still valid for combining conditions
    # },

    # {
    #     'name': 'job__credit_history__class1',
    #     'conditions': [
    #         {'col': 'job', 'values': ['3', '4']},
    #         {'col': 'credit_history', 'values': ['2', '3', '4']}
    #     ],
    #     'operator': 'AND'
    # },
    {
        'name': 'job__credit_history__class2', ##Low quality jobs and good credit history
        'conditions': [
            {'col': 'job', 'values': ['1', '2']},
            {'col': 'credit_history', 'values': ['2', '3', '4']}
        ],
        'operator': 'AND'
    },
    {
        'name': 'status__class1', #Has or not a checking accountx
        'conditions': [
            {'col': 'status', 'values': ['2', '3', '4']}
        ],
        'operator': 'AND'
    },
    # {
    #     'name': 'status__job__class1',
    #     'conditions': [
    #         {'col': 'job', 'values': ['1', '2']},
    #         {'col': 'status', 'values': ['2', '3', '4']}
    #     ],
    #     'operator': 'AND'
    # },
    {
        'name': 'status__job__class2', ## High quality jobs and has checking account
        'conditions': [
            {'col': 'job', 'values': ['3', '4']},
            {'col': 'status', 'values': ['2', '3', '4']}
        ],
        'operator': 'AND'
    },
    {
        'name': 'installment_rate__job__class1', ##High quality jobs and low installment rate
        'conditions': [
            {'col': 'installment_rate', 'values': ['1', '2']},
            {'col': 'job', 'values': ['3', '4']},

        ],
        'operator': 'AND'
    },
    {
        'name': 'savings__installment_rate__class1', ##High savings and low installment rate
        'conditions': [
            {'col': 'savings', 'values': ['3', '4', '5']},
            {'col': 'installment_rate', 'values': ['1', '2']},
        ],
        'operator': 'AND'
    },
    {
        'name': 'savings__installment_rate__job__class1', ##High savings and low installment rate and high quality jobs
        'conditions': [
            {'col': 'savings', 'values': ['3', '4', '5']},
            {'col': 'installment_rate', 'values': ['1', '2']},
            {'col': 'job', 'values': ['3', '4']},
        ],
        'operator': 'AND'
    },
    {
        'name': 'employment_duration__installment_rate__class1', ##Low employment duration and low installment rate
        'conditions': [
            {'col': 'employment_duration', 'values': ['1', '2']},
            {'col': 'installment_rate', 'values': ['1', '2']},

        ],
        'operator': 'AND'
    },
]

synthetic_df = generate_synthetic_variables(data, rules)

In [6]:
synthetic_df.describe()

,job__credit_history__class2,status__class1,status__job__class2,installment_rate__job__class1,savings__installment_rate__class1,savings__installment_rate__job__class1,employment_duration__installment_rate__class1
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.199000,0.726000,0.569000,0.271000,0.105000,0.074000,0.094000
std,0.399448,0.446232,0.495464,0.444699,0.306707,0.261902,0.291975
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
synthetic_df.job__credit_history__class2.value_counts()

job__credit_history__class2
0    801
1    199
Name: count, dtype: int64

In [8]:
synthetic_df.status__class1.value_counts()

status__class1
1    726
0    274
Name: count, dtype: int64

In [9]:
synthetic_df.status__job__class2.value_counts()

status__job__class2
1    569
0    431
Name: count, dtype: int64

In [10]:
synthetic_df.installment_rate__job__class1.value_counts()

installment_rate__job__class1
0    729
1    271
Name: count, dtype: int64

In [11]:
synthetic_df.savings__installment_rate__class1.value_counts()

savings__installment_rate__class1
0    895
1    105
Name: count, dtype: int64

In [12]:
synthetic_df.savings__installment_rate__job__class1.value_counts()

savings__installment_rate__job__class1
0    926
1     74
Name: count, dtype: int64

In [13]:
synthetic_df.employment_duration__installment_rate__class1.value_counts()

employment_duration__installment_rate__class1
0    906
1     94
Name: count, dtype: int64